
@{
    Layout = null;
}

<h3>MVC Kamp Tablo Örneği-KATEGORİ</h3>
<br />
<table/>
<tr>
    <th> ID </th>
    <br />
    <th> ADI </th>
    <br />
    <th>AÇIKLAMA </th>
    <br />
    <th>DURUM </th>
</tr>
<tr>
    <td> 1 </td>
    <br />
    <td>Eğitim</td>
    <br />
    <td> Açıklama Yaptık </td>
    <br />
    <td> True </td>
    <br />
</tr>

<tr>
    <td> 2 </td>
    <br />
    <td>Spor</td>
    <br />
    <td> Açıklama Yaptık </td>
    <br />
    <td> True </td>
    <br />
</tr>
</table>
